<div class="main">
    <div class="container">
        <br>
       <div class="search">
        <app-input-search-form (emitSearch)="searchRepo($event)"></app-input-search-form>
    </div>
        
    </div>

    <h2 class="text-center text-white"> REPOSITORIES </h2>
    <div class="container card-columns">
        <div class="card" *ngFor="let gitrepo of gitrepos">
            <div class="card">
                <div class="card-header">
                    <h4>{{gitrepo.name}}</h4>
                </div>
                <div class="card-body">
                    <p class="card-text"> <strong>Language Used: </strong> {{gitrepo.language}}.</p>

                    <a href="{{gitrepo.html_url}}" target="_blank" class="btn btn-outline-dark btn-lg btn-block">Check
                        Out&nbsp;&nbsp;<i class="fa fa-github mr-3"></i></a>
                </div>
                <div class="card-footer flex-footer">
                    <small class="ml-4"><b> Forks:</b>{{gitrepo.forks_count}}</small>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- my footer -->

<footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <hr class="my-4">

    <div class="pb-4">
        <a href="https://www.facebook.com/" target="_blank">
            <i class="fa fa-facebook-f mr-3"></i>
        </a>

        <a href="https://twitter.com/" target="_blank">
            <i class="fa fa-twitter mr-3"></i>
        </a>

        <a href="https://github.com/" target="_blank">
            <i class="fa fa-github mr-3"></i>
        </a>

    </div>

    <div class="footer-copyright py-3">
        &copy; 2019 Copyright:
        <a href="#" target="_blank"> Ndundiro Kamau </a>
    </div>