<!-- <app-input-search-form (emitSearch)="searchUser($event)" ></app-input-search-form> -->
<div class="body">
<div class="main row container">
  <div class="col-md-4">
    <img src="{{user.avatar_url}}" >
    <!-- User Name:{{user.login}}
    <div>Bio:{{user.bio}}</div> -->
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-6">
      <app-input-search-form (emitSearch)="searchUser($event)" ></app-input-search-form>
    <div class="one card">
      <h4 class="card-header">User Found:{{user.login}}</h4>
      <div class="mb-4 "> <i class="fa fa-folder-open"></i> No of public Repositories: {{user.public_repos}} </div>
      <!-- <div class="mb-4"> <i class="fa fa-calendar"></i> Joined On:{{user.created_at|date}}</div> -->
      <div class="mb-4"> <i class="fa fa-users"></i> Followers:{{user.followers}}</div>
      <div class="mb-4 pl-2"> <i class="fa fa-user"></i> Following:{{user.following}}</div>
      <!-- <p appHighlight> <strong>Join Date:</strong> {{user.created_at |date}}</p> -->
      <p><a href="{{user.html_url}}" target="_blank">
        <button type="button" class="btn-sm btn-dark"> View on Github</button></a>
          </p>
    </div>
  </div>
</div>
</div>

<!-- My footer -->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <hr class="my-4">

    <div class="pb-4">
      <a href="https://www.facebook.com/" target="_blank">
        <i class="fa fa-facebook-f mr-3"></i>
      </a>

      <a href="https://twitter.com/" target="_blank">
        <i class="fa fa-twitter mr-3"></i>
      </a>

      <a href="https://github.com/" target="_blank">
        <i class="fa fa-github mr-3"></i>
      </a>

    </div>
    
    <div class="footer-copyright py-3">
      &copy; 2019 Copyright:
      <a href="#" target="_blank"> Ndundiro Kamau </a>
    </div>
  